<!-- Contact Section -->
<section id="contact" class="text-center">
  <!-- container -->
  <div class="container position-relative">
    <h1 class="big-title text-center mb-5">CONTACT</h1>
    <h2 class="sub-title text-center mb-5 position-absolute">CONTACT</h2>
    <p class="mb-5">Pour me joindre par téléphone, <a
        href="tel:0660968637"><b>0660968637</b></a> ou par mail <a
        href="mailto:anatomiedunegarderobe@gmail.com"><b>anatomiedunegarderobe@gmail.com</b></a></p>
  </div><!-- End of Container-->
</section><!-- End of Contact Section -->
