<!-- Contact Section -->
<section id="contact" class="text-center">
  <!-- container -->
  <div class="container position-relative">
    <h1 class="big-title text-center mb-5">CONTACT</h1>
    <h2 class="sub-title text-center mb-5 position-absolute">CONTACT</h2>
    <p class="mb-5">Si vous souhaitez en savoir plus et découvrir gratuitement vos vrais besoins personnalisés en
      matière de garde-robe, renseignez le petit formulaire en cliquant ici</p>

    <!-- Contact form -->
    <form class="contact-form col-md-11 col-lg-9 mx-auto" [formGroup]="contactForm">
      <div class="form-row">
        <div class="col form-group">
          <input type="text" class="form-control" formControlName="name" placeholder="Nom">
        </div>
        <div class="col form-group">
          <input type="email" class="form-control" formControlName="email" placeholder="Email">
        </div>
      </div>
      <div class="form-group">
        <textarea name="" id="" cols="30" rows="5" formControlName="message" class="form-control" placeholder="Votre Message"></textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block" (click)="sendEmail()">Envoyer</button>
      </div>
    </form><!-- End of Contact form -->
  </div><!-- End of Container-->
</section><!-- End of Contact Section -->
