<section id="services">
  <!-- Container -->
  <div class="container position-relative">
    <h1 class="big-title text-center mb-5">COACHINGS</h1>
    <h2 class="sub-title text-center mb-5 position-absolute">COACHINGS</h2>
    <div class="row justify-content-between align-items-center">
      <div class="col-md-4 mb-3">
        <div class="about-wrapper m-0">
          <!-- <div class="after"></div> -->
          <div class="content">
            <h5 class="title mb-1">Coaching DÉCOUVERTE</h5>
            <span class="badge badge-primary mb-4"> 3H30 275€</span>
            <!-- row -->
            <div class="row">
              <div class="col">
                <p>
                  Questionnaire et analyse de vos besoins puis 3h30 de consultation chez vous.
                  Création de votre livret personnel que vous garderez.
                  Il sera approfondi de coachings en coachings. C’est le journal intime de votre garde-robe.</p>
              </div>
            </div><!-- End of Row -->
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="about-wrapper m-0">
          <!-- <div class="after"></div> -->
          <div class="content">
            <h5 class="title mb-1">Coaching des MAMANS</h5>
            <span class="badge badge-primary mb-4"> 3H30 275€</span>
            <!-- row -->
            <div class="row">
              <div class="col">
                <p>
                  Des consultations spécifiques pour retrouver son corps et sa vie de femme après une grossesse, ou
                  quand vos enfants devenus adultes quittent le foyer familial.</p>
              </div>
            </div><!-- End of Row -->
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="about-wrapper m-0">
          <!-- <div class="after"></div> -->
          <div class="content">
            <h5 class="title mb-1">Coaching CHEZ VOUS</h5>
            <span class="badge badge-primary mb-4">1H00 85€</span>
            <!-- row -->
            <div class="row">
              <div class="col">
                <p>Choisir une tenue adéquate pour un événement (entretien d’embauche, cérémonie, cocktail…)
                  Pour préparer la valise avant un déplacement professionnel ou un évènement privé.
                  Apprendre à marcher en talons, se déplacer avec une robe de soirée encombrante ou une robe de mariée…
                </p>
              </div>
            </div><!-- End of Row -->
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-between align-items-center mt-4">
      <div class="col-md-3 mb-3">
        <div class="about-wrapper m-0">
          <!-- <div class="after"></div> -->
          <div class="content">
            <h5 class="title mb-1">UN MOMENT POUR SOI</h5>
            <span class="badge badge-primary mb-4"> 2H 150€</span>
            <!-- row -->
            <div class="row">
              <div class="col">
                <p>
                  Séance pour travailler sur sa féminité, son sex-appeal et trouver des idées pour développer
                  spécifiquement son potentiel de séduction.</p>
              </div>
            </div><!-- End of Row -->
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <div class="about-wrapper m-0">
          <!-- <div class="after"></div> -->
          <div class="content">
            <h5 class="title mb-1">Coaching OPTIMISATION RANGEMENT</h5>
            <span class="badge badge-primary mb-4"> 1H30 120€</span>
            <!-- row -->
            <div class="row">
              <div class="col">
                <p>Pour trouver le système de rangement de votre garde-robe, adapté à votre vie.</p>
              </div>
            </div><!-- End of Row -->
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <div class="about-wrapper m-0">
          <!-- <div class="after"></div> -->
          <div class="content">
            <h5 class="title mb-1">Coaching SAISONNIER</h5>
            <span class="badge badge-primary mb-4"> 2H 180€</span>
            <!-- row -->
            <div class="row">
              <div class="col">
                <p>Pour se réorganiser à chaque changement de saison</p>
              </div>
            </div><!-- End of Row -->
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <div class="about-wrapper m-0">
          <!-- <div class="after"></div> -->
          <div class="content">
            <h5 class="title mb-1">Coaching DETOX</h5>
            <span class="badge badge-primary mb-4"> 3H 250€ </span>
            <!-- row -->
            <div class="row">
              <div class="col">
                <p>Pour faire le tri, ne garder que les vêtements qui vous font du bien et donner une seconde vie aux
                  autres.</p>
              </div>
            </div><!-- End of Row -->
          </div>
        </div>
      </div>
    </div>
  </div> <!-- End of Container-->
</section>
