.title {
  text-transform: uppercase;
  color: #6d1009;
  margin-bottom: 5px;
}

.about-wrapper {
  .content {
	  min-height: 325px;
    border-radius: 70px 15px 70px 15px;
	 border-top: 5px solid #6d1009;
  }
}
