.title {
  text-transform: uppercase;
  color: #6d1009;
  margin-bottom: 5px;
}

.about-wrapper {
  .content {
    min-height: 325px;
    border-radius: 70px 15px 70px 15px;
    border-top: 5px solid #6d1009;
    overflow: hidden;
    background-size: cover !important;

    &::before {
      content: "";
      background-color: rgba(255, 255, 255, 0.55);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}


.row-card {
  padding: 0 5em;
}

@media screen and (max-width: 500px) {
  .row-card {
    padding: 0;
  }
}

.quiz {
  font-family: 'Poppins', sans-serif;
  background-color: #6d1009;
  color: white;
  font-weight: bold;
  padding: 0px 20px;
  border-radius: 5px;
  position: relative;
  bottom: 0;
  margin-top: 2em;
}
