<section id="services">
  <!-- Container -->
  <div class="container-fluid position-relative">
    <h1 class="big-title text-center mb-5">COACHINGS</h1>
    <h2 class="sub-title text-center mb-5 position-absolute">COACHINGS</h2>
    <div class="row justify-content-between align-items-center row-card">
      <div class="col-md-3 mb-3">
        <div class="about-wrapper m-0">
          <!-- <div class="after"></div> -->
          <div class="content" style="background: url('assets/imgs/decouverte.jpeg');">
            <h5 class="title mb-1 position-relative">Coaching DÉCOUVERTE</h5>
            <span class="badge badge-primary mb-4 position-relative"> 3H30 350€</span>
            <!-- row -->
            <div class="row">
              <div class="col">
                <p>
                  Analyse de vos besoins, état des lieux de votre garde-robe, définition de vos atouts personnels,
                  élaboration et remise de votre book personnel qui est votre boussole, le journal intime de votre
                  garde-robe qui se complètera au fil du temps de toutes vos idées et suivis de coaching</p>
              </div>
            </div><!-- End of Row -->
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <div class="about-wrapper m-0">
          <!-- <div class="after"></div> -->
          <div class="content" style="background: url('assets/imgs/services1.jpg');">
            <h5 class="title mb-1 position-relative">Coaching des MAMANS</h5>
            <span class="badge badge-primary mb-4 position-relative"> 3H30 350€</span>
            <!-- row -->
            <div class="row">
              <div class="col">
                <p>
                  Trois temps forts où on a besoin de se retrouver avec sa garde-robe:
                  Pour s’habiller de façon épanouissante et confortable pendant la grossesse, sans rien perdre de sa
                  personnalité.
                  Pour retrouver confiance dans son corps après la naissance du bébé et s’épanouir en tant que jeune
                  maman.
                  Pour s’appuyer sur son potentiel de femme accomplie quand les enfants adultes quittent le foyer
                  familial.</p>
              </div>
            </div><!-- End of Row -->
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <div class="about-wrapper m-0">
          <!-- <div class="after"></div> -->
          <div class="content" style="background: url('assets/imgs/service1.jpg');">
            <h5 class="title mb-1 position-relative">Coaching CHEZ VOUS</h5>
            <span class="badge badge-primary mb-4 position-relative">1H00 90€</span>
            <!-- row -->
            <div class="row">
              <div class="col">
                <p>Choisir une tenue adéquate pour un événement (entretien d’embauche, cérémonie, cocktail…)
                  Pour préparer la valise avant un déplacement professionnel ou un évènement privé.
                  Apprendre à marcher en talons, se déplacer avec une robe de soirée encombrante ou une robe de mariée…
                </p>
              </div>
            </div><!-- End of Row -->
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <div class="about-wrapper m-0">
          <!-- <div class="after"></div> -->
          <div class="content" style="background: url('assets/imgs/service2.jpg');">
            <h5 class="title mb-1 position-relative">UN MOMENT POUR SOI</h5>
            <span class="badge badge-primary mb-4 position-relative"> 2H 180€</span>
            <!-- row -->
            <div class="row">
              <div class="col">
                <p>
                  Séance pour travailler sur sa féminité, son sex-appeal et trouver des idées pour développer
                  spécifiquement son potentiel de séduction.</p>
              </div>
            </div><!-- End of Row -->
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-between align-items-center mt-4 row-card">
      <div class="col-md-3 mb-3">
        <div class="about-wrapper m-0">
          <!-- <div class="after"></div> -->
          <div class="content" style="background: url('assets/imgs/service3.jpg');">
            <h5 class="title mb-1 position-relative">Coaching OPTIMISATION RANGEMENT</h5>
            <span class="badge badge-primary mb-4 position-relative"> 1H30 120€</span>
            <!-- row -->
            <div class="row">
              <div class="col">
                <p>Pour trouver le système de rangement de votre garde-robe, adapté à votre vie.</p>
              </div>
            </div><!-- End of Row -->
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <div class="about-wrapper m-0">
          <!-- <div class="after"></div> -->
          <div class="content" style="background: url('assets/imgs/service4.jpg');">
            <h5 class="title mb-1 position-relative">Coaching SAISONNIER</h5>
            <span class="badge badge-primary mb-4 position-relative"> 2H 180€</span>
            <!-- row -->
            <div class="row">
              <div class="col">
                <p>Pour se réorganiser à chaque changement de saison</p>
              </div>
            </div><!-- End of Row -->
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <div class="about-wrapper m-0">
          <!-- <div class="after"></div> -->
          <div class="content" style="background: url('assets/imgs/service5.jpg');">
            <h5 class="title mb-1 position-relative">Coaching DETOX</h5>
            <span class="badge badge-primary mb-4 position-relative"> 4H 350€ </span>
            <!-- row -->
            <div class="row">
              <div class="col">
                <p>Pour faire le tri, ne garder que les vêtements qui vous font du bien et donner une seconde vie aux
                  autres.</p>
              </div>
            </div><!-- End of Row -->
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <div class="about-wrapper m-0">
          <!-- <div class="after"></div> -->
          <div class="content" style="background: url('assets/imgs/service6.jpg');">
            <h5 class="title mb-1 position-relative">Coaching Senior</h5>
            <span class="badge badge-primary mb-4 position-relative"> 3H30 350€</span>
            <!-- row -->
            <div class="row">
              <div class="col">
                <p>
                  Transformer sa garde-robe pour commencer sa nouvelle vie de retraitée.</p>
              </div>
            </div><!-- End of Row -->
          </div>
        </div>
      </div>
    </div>
    <p class="link-quiz text-center mt-5">Pour en savoir plus sur vos vrais besoins en matière de garde-robe et recevoir un diagnostique gratuit, remplissez le petit questionnaire
      <a class="quiz" href="https://tally.so/r/3NprMG">👉 ICI 💫</a>
    </p>
  </div> <!-- End of Container-->
</section>
