<router-outlet></router-outlet>

<!-- Page Navbar -->
<nav id="scrollspy" class="navbar page-navbar navbar-light navbar-expand-md fixed-top" data-spy="affix"
  data-offset-top="20">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="#">
      <img src="assets/imgs/logo3.png" alt="" width="60">
      <div class="d-flex align-items-center flex-column ml-3 title-nav">
        <p style="color: #6d1009; font-size: 8px; font-weight:600;margin: 0;
          line-height: 13px; text-transform: uppercase;">Vous coacher pour que s’habiller <br>
          <span class="text-dark" style="font-size: 8px; font-weight: 200; text-transform: uppercase;">Re-devienne un
            plaisir et une
            force</span></p>
      </div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="ti-layout-grid2" style="color: #e5c4c3c9"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">Qui suis-je ?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#services">Coachings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#eco">Engagée</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#testmonial">RETOUR D'EXPERIENCE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav><!-- End of Page Navbar -->

<!-- Page Header -->
<header id="home" class="header">
  <div class="overlay"></div>
  <div class="header-content">
    <h6 class="mb-0">Anatomie</h6>
    <span class="d-block w-100">d'une Garde-Robe</span>
    <p class="mt-0 mb-5">Vous coacher pour que s’habiller <br> re-devienne un plaisir et une force</p>
    <a href="https://tally.so/r/3NprMG" class="btn btn-outline-light">En savoir plus</a>
  </div>
</header><!-- End of Page Header -->

<section>
  <!-- Container -->
  <div class="container position-relative">
    <div class="row justify-content-around align-items-center">
      <div class="col-md-4">
        <div class="img-wrapper p-2">
          <!-- <div class="after"></div> -->
          <img src="assets/imgs/services1.jpg" class="w-100" alt="About Us">
          <p class="text-starting"><b>Vos placards débordent de vêtements</b> et pourtant vous ne savez pas quoi
            vous mettre ou vous portez toujours la même chose ?</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="img-wrapper p-2">
          <!-- <div class="after"></div> -->
          <img src="assets/imgs/services2.jpg" class="w-100" alt="About Us">
          <p class="text-starting"><b>Vous n’avez pas beaucoup de temps pour vous occuper de vous</b>
            mais le désir de connaître vos atouts et votre potentiel personnel ?</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="img-wrapper p-2">
          <!-- <div class="after"></div> -->
          <img src="assets/imgs/services3.jpg" class="w-100" alt="About Us">
          <p class="text-starting"><b>Vous rêvez de quelqu’un qui vienne chez vous pour vous accompagner</b>
            avec méthode à trier en faisant les bons choix pour ne garder que les vêtements essentiels et donner
            une seconde vie aux autres?</p>
        </div>
      </div>
    </div>
  </div> <!-- End of Container-->
</section>

<!-- Services video Section -->
<section class="bg-img">
  <div class="container">
    <h1>J'apporte des solutions sur mesure <br>à toutes les problématiques de garde-robe des femmes</h1>
    <p>Qu’est-ce qu’on va faire ensemble ? Un état des lieux des vêtements stockés dans les placards, se servir de
      l’existant, trier, réparer, vendre, et toujours des conseils sur mesure pour mettre ton style et ton potentiel en
      avant. <br>
      On va aussi réorganiser, plier différemment pour gagner de l’espace et voir tous les vêtements. Cette clarté te
      permettra de gagner un temps précieux le matin.
      Nous donnerons une seconde vie à tous les vêtements dont tu décides de te séparer. Avec mes partenaires qui vont
      les vendre pour toi (et oui tu vas gagner de l’argent!), les réparer ou les donner à des associations de femmes
      dans
      le besoin.
      <br><br>
      Et si cela t’intéresses, nous pourrons travailler aussi sur des astuces pour transformer en douceur ta façon de
      consommer la mode pour prendre soin de notre planète.</p>
    <span>Pour que s’habiller Re-devienne un plaisir et une force</span>
  </div>
</section>
<!-- End of Services video Section -->

<!-- Services video Section -->
<section class="has-bg-img" id="features">
  <div class="overlay"></div>
  <!-- Button trigger modal -->
  <a data-toggle="modal" href="#videoCenter">
    <i></i>
  </a>

  <!-- Modal -->
  <div class="modal fade" id="videoCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <video controls height="500">
          <source src="assets/videos/video3.mp4" type="video/mp4">
        </video>
      </div>
    </div>
  </div><!-- End of Modal -->
</section>
<!-- End of Services video Section -->

<!-- Section -->
<section id="about">
  <!-- Container -->
  <div class="container position-relative">
    <h1 class="big-title text-center mb-5">QUI SUIS-JE ?</h1>
    <h2 class="sub-title text-center mb-5 position-absolute">QUI SUIS-JE ?</h2>
    <!-- Row -->
    <div class="row justify-content-between align-items-center">
      <div class="col-md-6">
        <div class="img-wrapper">
          <div class="after"></div>
          <img src="assets/imgs/about2.jpg" class="w-100" alt="About us">
        </div>
      </div>
      <div class="col-md-5">
        <h6 class="title mb-3">Pourquoi vous pouvez me faire confiance en matière de garde-robe?</h6>

        <p>Alors tout d’abord, je suis modèle de normalisation depuis 25 ans.
          C’est un métier atypique peu connu qui consiste à essayer tous les vêtements des collections de couturiers
          et de marques de prêt-à-porter pour les “normaliser”, c’est-à-dire les rendre portables pour toutes les
          femmes.</p>
        <p>Je travaille pour de nombreuses maisons comme Christian Dior, Louis Vuitton, Isabel
          Marant, Paco Rabanne, Lanvin, les boutiques Caroll et beaucoup d’autres.</p>
        <p>
          Et oui c’est parce que j’ai moi-même porté des milliers de silhouettes de styles très différents que j’en ai
          tiré une compétence unique, celle de trouver ce qui vous va le mieux et qui vous rendra unique et épanouie
          dans vos vêtements.
        </p>
        <p>
          Peu importe votre physique, c’est dans votre différence que vous monterez en valeur.
          Je révèle le potentiel de chaque femme à partir de son univers, de sa morphologie, de ses besoins
          professionnels, personnels et de ses envies
        </p>
        <a href="https://tally.so/r/3NprMG" class="btn btn-primary">En savoir plus</a>
      </div>
    </div><!-- End of Row -->
  </div><!-- End of Container-->
</section><!-- End of Section -->

<!-- section -->
<section>
  <!-- Container -->
  <div class="container">
    <!-- Row -->
    <div class="row justify-content-between align-items-center">
      <div class="col-md-5">
        <h6 class="title mb-3">Nous avons tous une chose en commun...</h6>

        <p>7 milliards et demi d’êtres humains sur terre.
          Nous avons tous une chose en commun:
          Tous les matins, nous nous habillons.

          J’aide les femmes à s’appuyer sur cet acte
          quotidien afin d’optimiser chaque journée
          et s’en servir de levier pour transformer leur vie.</p>
        <a href="https://tally.so/r/3NprMG" class="btn btn-primary">En savoir plus</a>
      </div>
      <div class="col-md-6">
        <div class="img-wrapper">
          <div class="after right"></div>
          <img src="assets/imgs/silhouette.jpg" class="w-100" alt="About Us">
        </div>
      </div>
    </div><!-- End of Row -->
  </div><!-- End of Container-->
</section>
<!-- End of Section -->

<!-- Services Section -->
<app-coachings></app-coachings>
<!--End of Section -->

<!-- section -->
<section>
  <!-- Container -->
  <div class="container">
    <!-- Row -->
    <div class="row justify-content-center align-items-center">
      <div class="col-md-4 text-center">
        <video controls height="500">
          <source src="assets/videos/video1.mp4" type="video/mp4">
        </video>
      </div>
      <div class="col-md-4 text-center">
        <video controls height="500">
          <source src="assets/videos/video2.mp4" type="video/mp4">
        </video>
      </div>
      <div class="col-md-4 text-center">
        <h2 class="title">Retrouvez toute mon actualité sur Instagram</h2>
        <a href="https://www.instagram.com/anatomiedunegarderobe/?hl=fr">
          <img src="assets/imgs/instagram.png" alt="" width="60" class="mt-2">
        </a>
      </div>
    </div><!-- End of Row -->
  </div><!-- End of Container-->
</section>
<!-- End of Section -->

<!-- Services Section -->
<section id="services">
  <!-- Container -->
  <div class="container position-relative">
    <h1 class="big-title text-center mb-5">MES VALEURS</h1>
    <h2 class="sub-title text-center mb-5 position-absolute">MES VALEURS</h2>
    <div class="row justify-content-between align-items-center">
      <div class="col-md-3 mr-2 text-center valeurs">
        <i class="fas fa-check fa-3x mb-3"></i>
        <h4 class="title-valeurs">Efficacité</h4>
      </div>
      <div class="col-md-3 mr-2 text-center valeurs">
        <i class="fas fa-heart fa-3x mb-3"></i>
        <h4 class="title-valeurs">Bienveillance</h4>
      </div>
      <div class="col-md-3 mr-2 text-center valeurs">
        <i class="fas fa-seedling fa-3x mb-3"></i>
        <h4 class="title-valeurs">Energie positive</h4>
      </div>
    </div>
    <div class="row justify-content-between align-items-center mt-4">
      <div class="col-md-3 mr-2 text-center valeurs">
        <i class="fas fa-sun fa-3x mb-3"></i>
        <h4 class="title-valeurs">Solaire</h4>
      </div>
      <div class="col-md-3 mr-2 text-center valeurs">
        <i class="fas fa-female fa-3x mb-3"></i>
        <h4 class="title-valeurs">Aider les femmes à s'affirmer</h4>
      </div>
      <div class="col-md-3 mr-2 text-center valeurs">
        <i class="fas fa-leaf fa-3x mb-3"></i>
        <h4 class="title-valeurs">Bienfait pour la planète</h4>
      </div>
    </div>
  </div> <!-- End of Container-->
</section>
<!--End of Section -->

<!-- section -->
<section>
  <!-- Container -->
  <div class="container">
    <!-- Row -->
    <div class="row justify-content-between align-items-center">
      <div class="col-md-5">
        <h6 class="title mb-3">J’adore aider les femmes, c’est ma façon d’être féministe.</h6>
        <p>Je les accompagne à organiser leur garde-robe et optimiser leur potentiel pour libérer leur énergie
          positive et aller de l’avant dans leurs projets professionnels comme personnels.
        </p>
        <p>Je pense que plus de femmes au pouvoir est la clef pour construire un monde inclusif plus juste
        </p>
        <a href="https://tally.so/r/3NprMG" class="btn btn-primary">En savoir plus</a>
      </div>
      <div class="col-md-6">
        <div class="img-wrapper">
          <div class="after right"></div>
          <img src="assets/imgs/valeurs.jpg" class="w-100" alt="About Us">
        </div>
      </div>
    </div><!-- End of Row -->
  </div><!-- End of Container-->
</section>
<!-- End of Section -->

<!-- Section -->
<section id="eco">
  <!-- Container -->
  <div class="container position-relative">
    <h1 class="big-title text-center mb-5">ENGAGEE</h1>
    <h2 class="sub-title text-center mb-5 position-absolute">ENGAGEE</h2>
    <!-- Row -->
    <div class="row justify-content-between align-items-center">
      <div class="col-md-6">
        <div class="img-wrapper">
          <div class="after"></div>
          <img src="assets/imgs/eco3.jpg" class="w-100" alt="About us">
        </div>
      </div>
      <div class="col-md-5">
        <h6 class="title mb-3">On produit chaque année en France <br> 700 000 tonnes de vêtements soit 1917,8 tonnes par
          jour.
        </h6>

        <p>Pollution à outrance, détresse économique de ceux qui fabriquent à l'autre bout du monde, pour fournir
          toujours plus de vêtements à vous faire acheter.
          Au travers de mon parcours dans les coulisses de la mode j’ai été témoin de l’intérieur ce qu’on appelle la
          fast-fashion</p>
        <p>Si vous avez envie de changer les choses, d'avoir une garde-robe plus respectueuse de la planète mais que
          vous êtes un peu perdue dans le flot des informations et des sollicitations pour vous faire acheter toujours
          plus
          Je suis votre boussole pour vous guider à avoir les bonnes méthodes pour acheter moins mais mieux, utiliser
          ce que vous possédez déjà, vous repérer et faire les choix de vêtements qui sont vraiment faits pour vous
        </p>
        <p>
          Je vous transmets toutes mes astuces et contacts de partenaires pour transformer progressivement votre façon
          de consommer la mode et le vêtement en quelque chose de tout aussi désirable mais moins impactant pour la
          planète.
        </p>
        <p>Anatomie d'une garde-robe est une entreprise de la coalisation des entreprises d'En Mode Climat et Membre de
          la Fashiongreenhub</p>
        <div class="d-flex justify-content-around align-items-center">
          <img src="assets/imgs/logo-fashion-green.png" alt="" width="250">
          <img src="assets/imgs/logo-en-mode-climat.jpeg" style="border-radius: 50%;" width="90">
        </div>
      </div>
    </div><!-- End of Row -->
  </div><!-- End of Container-->
</section>
<!-- End of Section -->


<!-- Testmonial Section -->
<section class="text-center" id="testmonial">
  <!-- Container -->
  <div class="container position-relative">
    <h1 class="big-title text-center mb-5 ">RETOUR D'EXPERIENCE</h1>
    <h2 class="sub-title text-center mb-5 position-absolute">RETOUR D'EXPERIENCE</h2>
    <!-- Row -->
    <div class="row position-relative" style="top: 40px;">
      <div class="col-sm-10 col-md-4 m-auto">
      </div>
      <div class="col-sm-10 col-md-4 m-auto">
        <div class="testmonial-wrapper">
          <img src="assets/imgs/avatar3.jpg" alt="Client Image">
          <h6 class="title mb-3">Sophie Doe</h6>
          <p>Super, j'ai adoré être accompagné par Lou, une personne très agréable et qui a su me faire sentir femme.
          </p>
        </div>
      </div>
      <div class="col-sm-10 col-md-4 m-auto">
      </div>
    </div><!-- end of Row -->
  </div><!-- End of Cotanier -->
</section>
<!-- End of Testmonial Section -->

<!-- Section -->
<section class="has-bg-img text-center text-light height-auto parallax"
  style="background-image: url(assets/imgs/header.jpg)">
  <h1 class="display-4">LAISSEZ MOI M'OCCUPER DE VOUS.</h1>
</section><!-- End of Section -->


<!-- Contact Section -->
<app-contact></app-contact>
<!-- End of Contact Section -->

<!-- Section -->
<section class="pb-0">
  <!-- Container -->
  <div class="container">
    <!-- Pre footer -->
    <div class="pre-footer">
      <ul class="list">
        <li class="list-head">
          <h6 class="font-weight-bold">LIENS</h6>
        </li>
        <li class="list-body">
          <div class="row">
            <div class="col">
              <a href="#">A propos de moi</a>
              <a href="#">Services</a>
              <a href="#">Avis</a>
              <a href="#">Contact</a>
            </div>
          </div>
        </li>
      </ul>
      <ul class="list">
        <li class="list-head">
          <h6 class="font-weight-bold">CONTACT</h6>
        </li>
        <li class="list-body">
          <p><i class="ti-location-pin"></i> 12 rue de paris 75006 PARIS</p>
          <p><i class="ti-email"></i>info@anatomiedunegarderobe.com</p>
          <div class="social-links">
            <a href="https://anatomiedunegarderobe.com/#" class="link"><i class="ti-facebook"></i></a>
            <a href="https://fr.pinterest.com/anatomiedunegar/" class="link"><i class="ti-pinterest-alt"></i></a>
            <a href="https://www.instagram.com/anatomiedunegarderobe/" class="link"><i class="ti-instagram"></i></a>
          </div>
        </li>
      </ul>
    </div><!-- End of Pre footer -->

    <!-- foooter -->
    <footer class="footer">
      <p>Copyright <script>
          document.write(new Date().getFullYear())

        </script> &copy; <a href="https://dpwstudio.com">DP WStudio</a></p>
    </footer><!-- End of Footer-->

  </div>
  <!--End of Container -->
</section><!-- End of Section -->
